body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

body {
  background: #fff;
}

.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: #e91e63;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 2px solid #e91e63;
  box-shadow: none;
}


/* post styles */

.error{
	color:#AA4444;
	font-size: 12px;
}
.title{
	font-weight: bold;
}

span.likes{
	font-size:10px;
	height:10px;
	width:16px;
	text-align:right;
	display:inline-block;
    background-size:16px 10px;
}

span.comments{
	font-size:10px;
	height:10px;
	width:16px;
	text-align:right;
	display:inline-block;
    background-size:16px 10px;
}

.wholewidth{
	width:100%;
}
.commentContainer{
	margin-right: 20px;
	font-size:11px;
}
.commentSingle{
	padding: 10px;
	margin: 5px;
	border: solid 1px #DDDDDD;
}
.commentText{
	font-size: 10px;
}
.post_text{
	padding:5px 0;
	font-size: 12px;
}
.driver{
	height:50px;
	width:50px;
	display:inline-block;
	top:10px;
	left:10px;
	position:absolute;
    background-image: url("/carpool-app/assets/img/driver.png");
    background-repeat:no-repeat;
    background-scale:50%;
    background-size:50px 50px;
    background-color:#DFDFF7;
    border-radius:25px;
}
.rider{
	height:50px;
	width:50px;
	display:inline-block;
	top:10px;
	left:10px;
	position:absolute;
	float:left;
    background-image: url("/carpool-app/assets/img/rider.png");
    background-repeat:no-repeat;
    background-scale:50%;
    background-size:50px 50px;
    background-color:#DFDFF7;
    border-radius:25px;
}

.marginer{
	border: 0;
}

.icon-black {
    color: #777777;
}