body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

body {
  background: #fff;
}

.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: #e91e63;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 2px solid #e91e63;
  box-shadow: none;
}
/* weather styles */
#map {
        width: 100%;
        height: 550px;
     }

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 100%;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}
/* end of weather styles*/
/* post styles */

.error{
	color:#AA4444;
	font-size: 12px;
}
.title{
	font-weight: bold;
}

span.likes{
	font-size:10px;
	height:10px;
	width:16px;
	text-align:right;
	display:inline-block;
    background-size:16px 10px;
}

span.comments{
	font-size:10px;
	height:10px;
	width:16px;
	text-align:right;
	display:inline-block;
    background-size:16px 10px;
}

.wholewidth{
	width:100%;
}
.commentContainer{
	margin-right: 20px;
	font-size:11px;
}
.commentSingle{
	padding: 10px;
	margin: 5px;
	border: solid 1px #DDDDDD;
}
.commentText{
	font-size: 10px;
}
.post_text{
	padding:5px 0;
	font-size: 12px;
}
.driver{
	height:50px;
	width:50px;
	display:inline-block;
	top:10px;
	left:10px;
	position:absolute;
    background-image: url("/carpool-app/assets/img/driver.png");
    background-repeat:no-repeat;
    background-scale:50%;
    background-size:50px 50px;
    background-color:#DFDFF7;
    border-radius:25px;
}
.rider{
	height:50px;
	width:50px;
	display:inline-block;
	top:10px;
	left:10px;
	position:absolute;
	float:left;
    background-image: url("/carpool-app/assets/img/rider.png");
    background-repeat:no-repeat;
    background-scale:50%;
    background-size:50px 50px;
    background-color:#DFDFF7;
    border-radius:25px;
}

.marginer{
	border: 0;
}

.icon-black {
    color: #777777;
}

.pac-container { z-index: 100000; }
.modal {
	width: 65% !important ;
	max-height: 100% !important;
}
.modal span#title {
	font-size: 30px;
}